.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 0.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 0.5em;
}

.site-main {
	max-width: 1020px;
	width: 93.5%;
    margin: 2em auto 4em;
}